@model NhomLucky.Models.Book

@{
    ViewBag.Title = "Thêm Sách";
}
<body>
    <h2 style="color: #bd2130">Thêm Sách</h2>
    @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "needs-validation", @novalidate = "true" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                 @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã sách", @required = "true" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên sách", @required = "true" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.dongia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dongia, new { htmlAttributes = new { @class = "form-control", @placeholder = "Đơn giá", @required = "true" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="mt-1">
                        <div class="custom-file">
                            <input name="file" type="file" class="custom-file-input form-control" id="customFile">
                            <label class="custom-file-label" for="customFile">Chọn file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input style="text-align:center;float: right; margin-right: 600px; width: 100px;" type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
        </div>
    }
    <div>

        @Html.ActionLink("Quay lại", "Index")
    </div>
</body>

@section Scripts {
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        })();</script>
}
