@model IEnumerable<NhomLucky.Models.Book>

@{
    ViewBag.Title = "Danh sách Sách";
    var i = 1;
    var count = 0;
    foreach (var item in Model)
    {
        count++;
    }
}
@section styles{
    <link href="~/Assets/css/toast.css" rel="stylesheet" />
}
<h2 style="color: #bd2130; text-align: center;">Book List</h2>

<p class="noti text-center" style="clear:both">Hiện tại chưa có sách.<a href="~/Book/Create"> Click vào đây</a> để thêm thêm sách mới.</p>
@if (count != 0)
{
    <p class="pr-1 btnadd">
        @Html.ActionLink("Thêm sách", "Create", null, new { @class = "btn btn-outline-info" })
    </p>
    <div class="table-responsive table-book">
        <table class="table  table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dongia)
                    </th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr id="Book_@item._id">
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        <img style="width:60px" src="~/Assets/img/@item.image" alt="Erro image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dongia)
                    </td>
                    <td>
                        <a style="padding-right:12px;text-decoration:none;" title="Sửa sách @item.name" href="/Book/Edit/@item._id">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btndelete" data-name="@item.name" title="Xoá sách @item.name" href="/" data-id="@item._id" style="text-decoration:none;">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
    <script>$('.noti').hide();</script>
}
else
{
    <script>$('.noti').show();</script>
}
@section scripts{
    <script src="~/Assets/js/toast.js"></script>
    <script src="~/Assets/js/main.js"></script>
}